//! **************************************************************************
// Written by: Map M.70d on Mon Nov 29 16:56:43 2010
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "H4";
COMP "Seg7_out<0>" LOCATE = SITE "C17" LEVEL 1;
COMP "Seg7_out<1>" LOCATE = SITE "H14" LEVEL 1;
COMP "Seg7_out<2>" LOCATE = SITE "J17" LEVEL 1;
COMP "Seg7_out<3>" LOCATE = SITE "G14" LEVEL 1;
COMP "Seg7_out<4>" LOCATE = SITE "D16" LEVEL 1;
COMP "Seg7_out<5>" LOCATE = SITE "A4" LEVEL 1;
COMP "Seg7_out<6>" LOCATE = SITE "F18" LEVEL 1;
COMP "Seg7_out<7>" LOCATE = SITE "L18" LEVEL 1;
COMP "Bin_in<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "Bin_in<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "Bin_in<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "Bin_in<3>" LOCATE = SITE "K17" LEVEL 1;
SCHEMATIC END;

